html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: "Roboto", sans-serif;
	color: #404040;
}

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 60px auto;
	grid-template-rows: 1fr 5fr 1fr;
	position: relative;
	background-color: #f0f9ff;
}

h2,
h4,
h6 {
	color: #0a0a0a;
}

h4 {
	font-size: 1.125rem;
	line-height: 1.333rem;
	font-weight: 500;
}

h2 {
	font-size: 1.375rem;
	line-height: 1.0909rem;
	font-weight: 500;
}

h6 {
	font-weight: 500;
	line-height: 1.5rem;
}

p {
	line-height: 1.3rem;
}

.sidebar {
	grid-area: 1 / 1 / 4 / 2;
}

footer {
	grid-area: 3 / 2 / 4/ 3;
}

/* Header Styles */

header {
	grid-area: 1 / 2 / 2 / 3;
	padding: 10px;
	background-color: white;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

header div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.second-row {
	flex-direction: column;
	justify-content: start;
}

.second-row div {
	margin-top: 10px;
}

input {
	border: none;
	background-color: #f0f9ff;
	border-radius: 20px;
	height: 30px;
	width: 40vw;
	padding-left: 10px;
}

input:focus {
	outline: #0ea5e9 solid 2px;
}

input:focus::placeholder {
	color: transparent;
}

::placeholder {
	color: #0ea5e9;
}

.icon {
	width: 25px;
	height: 25px;
}

.dash-icon {
	width: 50px;
	height: 50px;
}

.userpic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.current-user {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.greeting {
	font-weight: 500;
	display: grid;
}

.btn {
	border: none;
	background-color: #0ea5e9;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	height: 30px;
	width: 120px;
	border-radius: 20px;
}

.btn:nth-child(n + 2) {
	margin-left: 10px;
}

.btn:hover {
	-webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
	cursor: pointer;
}

.icon-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 0 10px;
}

.icon-btn img:hover {
	-webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

/* Sidebar Styles */

.sidebar h2,
.sidebar h4 {
	color: white;
}

.sidebar {
	background-color: #0ea5e9;
	padding-top: 10px;
	height: 100vh;
	width: 60px;
	position: fixed;
}

.sidebar a {
	text-decoration: none;
}

.sidebar a:hover {
	-webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.sidebar div,
.sidebar a {
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar li {
	margin-top: 5px;
}

.sidebar ul {
	margin-top: 30px;
}

.sidebar h2,
.sidebar h4 {
	display: none;
}

.sidebar img {
	margin-right: 10px;
}

/* Main Styles */

main {
	grid-area: 2 / 2 / 3 / 3;
	display: grid;
}
main h2,
main h4 {
	margin-bottom: 10px;
}

main section {
	margin: 15px;
}

main a {
	text-decoration: none;
	color: black;
}

main a:hover {
	text-decoration: underline;
}

.articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

article,
main aside section ul {
	background-color: white;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

article {
	height: 177px;
	border-left: #facc15 solid 8px;
	position: relative;
}

.news {
	padding-top: 10px;
	padding-bottom: 10px;
}

.news li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.news li:nth-child(n + 2) {
	border-top: rgba(0, 0, 0, 0.3) 1px solid;
}

.trending a {
	display: flex;
	align-items: center;
}

.trending li:nth-child(n + 2) {
	padding-top: 20px;
}

.buttons {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

footer {
	padding-left: 20px;
	padding-bottom: 20px;
}

@media screen and (min-width: 776px) {
	body {
		grid-template-columns: 180px auto;
	}

	header {
		padding: 20px 50px;
	}

	main {
		grid-template-columns: 5fr 2fr;
	}

	.second-row {
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}

	.sidebar {
		width: 180px;
	}

	.sidebar h2,
	.sidebar h4 {
		display: inline;
	}

	.sidebar div,
	.sidebar a {
		display: flex;
		align-items: center;
		justify-content: start;
	}

	main > section {
		margin: 30px 10px 30px 30px;
	}

	aside section {
		margin: 30px 30px 30px 10px;
	}
}
